- var pageTitle = "Improvements Proposal"
- var site = "Tire Rack Improvements Proposal"
- var icoPath = "img/icon.png"


if pageTitle
	title #{pageTitle}

meta(charset='utf-8')
meta(
	property="og:image",
	content="../img/preview_facebook.png"
	)
meta(property="og:image:type", content="image/png")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="1200")

if viewPort
	meta(
		name='viewport'
		content='width=device-width'
	)

if pageTitle
	meta(
		property='og:title'
		content='#{pageTitle}'
	)

if site
	meta(
		property='og:site_name'
		content='#{site}'
	)

if description
	meta(
		property='og:description'
		content='#{description}'
	)

	meta(
		name='description'
		content='#{description}'
	)

if keyWords
	meta(
		name='keywords'
		content='#{keyWords}'
	)

if icoPath
	link(
		rel='icon'
		type='image/png'
		href='#{icoPath}'
	)

	//- Safari APP

	link(
		rel='apple-touch-icon-precomposed'
		href='#{icoPath}'
	)

	link(
		rel='apple-touch-icon'
		href='#{icoPath}'
	)

	//- W8

	meta(
		name='msapplication-TileImage'
		content='#{icoPath}'
	)

if icoBackground
meta(
	name='msapplication-TileColor'
	content='#{icoBackground}'
)